{% extends "padre.html" %}
{% load static %}

{% block introduccion %}


    <h1 class="display-5 fw-bold">Bienvenido!</h1>
    <p class="fs-4">Entrega Intermedia Proyecto Final</p>


{% endblock %}

{% block formularioUsuario %}


    <h2 class="fs-4 fw-bold">Formulario Usuario</h2>
    <p class="mb-0">Con el boton arriba con este nombre puede crear un usuario y guardarlo en la base de datos</p>


{% endblock %}

{% block formularioMascota %}

    <h2 class="fs-4 fw-bold">Formulario Mascota</h2>
    <p class="mb-0">Con el boton arriba de este mismo nombre puede ingresar su mascota y guardarla en la base de datos</p>

{% endblock %}

{% block formularioEstudios %}


    <h2 class="fs-4 fw-bold">Formulario Estudios</h2>
    <p class="mb-0">Con el boton arriba de este mismo nombre puede ingresar sus estudios y guardarlos en la base de datos</p>


{% endblock %}


{% block buscarUsuario %}


    <h2 class="fs-4 fw-bold">Buscar Usuario</h2>
    <p class="mb-0">Con el boton arriba de este mismo nombre puede buscar usuarios en nuestra base de datos>

{% endblock %}


{% block buscarMascota %}

    <h2 class="fs-4 fw-bold">Buscar Mascota</h2>
    <p class="mb-0">Con el boton arriba de este mismo nombre puede buscar mascotas guardadas en nuestra base de datos</p>


{% endblock %}


{% block buscarEstudios %}

    <h2 class="fs-4 fw-bold">Buscar Estudios</h2>
    <p class="mb-0">Con el boton arriba de este mismo nombre puede buscar los estudios de otras personas ingresados en nuestra base de datos</p>


{% endblock %}


